<div id="<%= dom_id contact %>">
  <h1 class="display-4">
    <%= contact.first_name %> <%= contact.last_name %>
  </h1>
  <p class="lead">
    <%= contact.email %> | <%= contact.phone %>
  </p>
</div>
