<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>

<table id="contacts">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= link_to "View", contact %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New contact", new_contact_path %>
